  a {
    word-wrap: break-word
  }
  code {
    font-size: 87.5%;
    color: #222;
    background-color: rgba(127, 219, 255, .25);
  }
  .container-narrow{
    max-width: 48em
  }
  .bg-dark {
    background-color:#1eaacd;
  }
  .button-logo {
    width: 2em;
    height: 2em;
    border-radius: 10000px;
    border-width: 3px;
  }
  .button-logo:hover {
    color: #102630;
    background-color: #ff4136;
    opacity: 0.9;
    box-shadow: 0 0 0 2px rgba(255,65,54,.5);
  }
  .button-logo:before,
  .button-logo:after {
    border-radius: inherit;
  }
  .button-outline {
    border-width: 2px
  }
  .button-transparent:focus {
    box-shadow: inset 0 0 0 2px
  }
  .button-grow {
    transition: transform, box-shadow, .05s ease
  }
  .button-grow:hover {
    transform: scale(1.0625)
  }
  .button-grow:active {
    transform: scale(.9375)
  }
  .icon {
    top: .03125em
  }
