 <div class="flex-container">
  <div class="flex-item">
    <h3>{{vm.playlistName}}</h3>
     <button class="btn waves-effect waves-light" type="button" name="button">
       Play all
    </button>
    <button class="btn disabled" type="button" name="button">Bookmark</button> <br>
    <p>Description: {{vm.description}}</p>
    <p>Number of songs in playlist: {{vm.songData.length}}</p>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Play</th>
          <th ng-click="field='title'; reverseSort=!reverseSort">
            Song Title
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </th>
          <th ng-click="field='duration'; reverseSort=!reverseSort">
            Length
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </th>
          <th ng-click="field='upvotes'; reverseSort=!reverseSort">
            up
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </th>
          <th ng-click="field='downvotes'; reverseSort=!reverseSort">
            down
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="song in vm.songData | orderBy: field:reverseSort">
        <td>{{$index+1}}</td>
        <td>
          <i ng-click="vm.playSong(song.songURL)" class="fa fa-play" aria-hidden="true"></i>
        </td>
        <td>{{song.title}}</td>
        <td class="col-md-2">{{song.duration}}</td>
        <td class="col-md-2">
          <i ng-click="vm.upvote(song._id)" class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{song.upvotes}}
        </td>
        <td class="col-md-2">
          <i ng-click="vm.downvote(song._id)" class="fa fa-thumbs-o-down" aria-hidden="true"></i> {{song.downvotes}}
        </td>
        <td>
          <i ng-click="vm.removeSong(song._id)" class="fa fa-times" aria-hidden="true"></i>
        </td>
      </tr>
    </table>
  </div>


  <div class="flex-item">
    <h3>Search & add songs</h3>
    <form name="searchSong">
      <input type="text" placeholder="Search" value=""
        ng-model="vm.searchInput"
        ng-model-options="{ debounce: 3000 }"
        ng-change="vm.searchSong()" required>
      <p ng-if="vm.searchInput">You search for {{vm.searchInput}}</p>

      <ul ng-if="vm.searchInput" ng-repeat="entry in vm.searchResults">
        <li>{{entry.title}}</li>
        <li>{{entry.duration}}
          <button ng-click="vm.addSong(entry.songURL, entry.title, entry.duration)" type="button">Add</button>
        </li>
      </ul>
    </form>
  </div>

</div>
