 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


 <div class="flex-container">
  <div class="flex-item">
    <h3>{{vm.playlistName}}</h3>
     <button class="btn waves-effect waves-light" type="button" name="button">
       Play all
    </button>
    <button class="btn disabled" type="button" name="button">Bookmark</button> <br>
    <p>Description: {{vm.description}}</p>
    <p>up: {{vm.upvote}} / down: {{vm.downvote}}</p>
    <p>Number of songs in playlist: {{vm.songData.length}}</p>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Play</th>
          <th>Song Title</th>
          <th>Length</th>
          <th>up</th>
          <th>down</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tr ng-repeat="song in vm.songData">
        <td>{{$index+1}}</td>
        <td ng-click="vm.playSong(song.songURL)">play</td>
        <td>{{song.title}}</td>
        <td>{{song.duration}}</td>
        <td class="col-md-2">
          <i ng-click="vm.upvote(song._id)" class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{song.upvotes}}
        </td>
        <td class="col-md-2">
          <i ng-click="vm.downvote(song._id)" class="fa fa-thumbs-o-down" aria-hidden="true"></i> {{song.downvotes}}
        </td>
        <td>
          <i ng-click="vm.removeSong(song._id)" class="fa fa-times" aria-hidden="true"></i>
        </td>
      </tr>
    </table>
  </div>


  <div class="flex-item">
    <h3>Search & add songs</h3>
    <form name="searchSong">
      <input type="text" placeholder="Search" value=""
        ng-model="vm.searchInput"
        ng-model-options="{ debounce: 3000 }"
        ng-change="vm.searchSong()" required>
      <p ng-if="vm.searchInput">You search for {{vm.searchInput}}</p>

      <ul ng-if="vm.searchInput" ng-repeat="entry in vm.searchResults">
        <li>{{entry.title}}</li>
        <li>{{entry.duration}}
          <button ng-click="vm.addSong(entry.songURL, entry.title)" type="button">Add</button>
        </li>
      </ul>
    </form>
  </div>

</div>
