<div class="container">
  <h3>Create New Playlist</h3>

  <form ng-submit="vm.submitPlaylist()" class="form-group">
    Name:
    <input type="text" ng-model="vm.playlistName" value="" required><br>
    Description:
    <input type="text" ng-model="vm.description" value="" required><br>
    Max number of songs (1-50):
    <input type="number" ng-model="vm.limit" min="1" max="50">
    <br>
    Tags:
    <!-- try to implement materialize CSS chips feature http://materializecss.com/chips.html-->
    <input type="text" value=""><br>

    <br>
    <button class="btn waves-effect waves-light" type="submit" value="Submit">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
  <p style="color:red;" ng-if="flag">Playlist name taken!</p>
</div>
